version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
      time: "09:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    reviewers:
      - abusi
    assignees:
      - abusi
